@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .nav_link {
    @apply relative text-xl w-fit block font-semibold text-white 
      after:content-[""] after:block after:absolute after:bottom-0 after:left-0 after:h-[3px] after:bg-yellow-400 
      after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition-transform after:duration-300 
      after:origin-right;
  }
  .btn_cls{
    @apply md:px-12 md:py-2.5 px-6 py-1.5 text-white font-semibold text-sm md:text-lg transition-all duration-200 rounded-lg;
  }
  .footer_heading{
    @apply text-lg text-white font-bold mb-4
  }
  .footer_link{
    @apply text-sm text-white hover:text-green-700/60 cursor-pointer mb-3 w-fit opacity-60;
  }
}


